*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ivory;
}

nav{
    margin: 47px 0px 178px 42px;
    
}


section{
    display: inline-block;
    margin-left: 84px;
    
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
}

p{
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

a:hover{
    opacity: 0.8;
}
a:active{
    opacity: 0.5;
}



.img-logo{
    width: 595.18px;
    height: 500px;
    display: inline-block;
    margin-left: 121px;
   
    
}


.link-nav{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
    margin-right: 36px;
    text-align: center;
}

#button-signin{
    text-decoration: underline;
    color: #6FBF44;
   
}

.button-nav{
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 15px;
    cursor: pointer;
}
.button-nav:hover{
    opacity: 0.8;
}
.button-nav:active{
    opacity: 0.5;
}

.button-sect{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    border-radius: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: underline ;
}
.button-sect:hover{
    opacity: 0.8;
}
.button-sect:active{
    opacity: 0.6;
}